<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پیام رسان فراوین - صفحه چت <%=user.name%>
  </title>

  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/chatroom.css">
  <script src="https://kit.fontawesome.com/4968c04fad.js" crossorigin="anonymous"></script>
</head>

<body>
  <section>
    <div class="container p-5">

      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-body">

              <div class="row">
                <div style="padding-left:0;padding-right: 7px;" class="seprateTwoSection col-md-6 col-lg-5 col-xl-3">
                  <div class="p-0">
                    <div class="sidbarPopup" id="sidbarPopup">
                    </div>
                    <div class="input-group rounded mb-0">
                      <i id="openSidbar" style="cursor:pointer;" class="fa-solid fa-bars fa-xl mt-3 mx-2"></i>
                      <!-- <div style="height:100px;width:100px;position: absolute;margin-top: 30px;">
                      <ul style="position: absolute;display: inline-block;">
                        <li style="padding: 15px;position: relative;cursor: pointer;">1</li>
                        <li style="padding: 15px;position: relative;cursor: pointer;">2</li>
                      </ul>
                    </div> -->
                      <div class="mt-1 mr-3 ml-2 float-right"><b style="font-size:17px;">پیام رسان فراوین</b></div>
                      <i id="openAddFormBtn" style="cursor:pointer;" class="fa-solid fa-plus fa-xl mt-3 mr-5 ml-1"></i>

                      <!----------------------------------------Start Add Contact Form----------------------------------------------->

                      <div class="formPopup" id="addForm">
                        <div class="formContainer">
                          <i id="closeAddFormBtn" class="fa-solid fa-circle-xmark fa-lg closeIcon"></i>
                          <input type="text" id="contactPhone" name="contactPhone" placeholder="شماره همراه" required>
                          <input type="text" id="contactName" name="contactName" placeholder="نام" required>
                          <p id="errorMsg" class="invlaidInputErrorMessage"></p>
                          <button id="addContactBtn" class="btn">افزودن مخاطب</button>
                        </div>
                      </div>

                      <!----------------------------------------End Add Contact Form------------------------------------------------->

                    </div>
                    <!-------------------------------------------show contacts section----------------------------------------------->
                    <div id="contactContainer" class="divScroll mt-3" style="position:relative; height: 565px;"></div>

                  </div>
                </div>

                <!-------------------------------------------start chats section----------------------------------------------------->
                <div id="chatSection" class="col-md-6 col-lg-7 col-xl-9">

                  <!-------------------------------------------start show chatroom header-------------------------------------------->
                  <span id="roomId" style="display: none;"></span>
                  <div class="row" style="margin-right: -30px;margin-left:10px;">
                    <div class="col-md-11 mx-5 chatsession-header">
                      <div class="float-right">
                        <i style="margin-top: 20px;" class="fa-solid fa-user fa-xl mr-2 ml-2"></i>
                      </div>
                      <b class="float-right chatroomHeader" id="selectedChatroomName"></b>
                      <b style="display: none;" class="float-right chatroomHeader" id="selectedChatroomPhone"></b>
                      <div class="float-left">
                        <i id="openEditFormBtn" style="cursor:pointer;margin-top:18px;"
                          class="fa-solid fa-pen-to-square fa-xl"></i>

                        <!----------------------------------------start Edit Contact Form-------------------------------------------->
                        <div class="formPopup" id="editForm">
                          <div dir="rtl" class="formContainer">
                            <i id="closeEditFormBtn" class="fa-solid fa-circle-xmark fa-lg closeIcon"></i>
                            <input type="text" id="editContactNameInput" placeholder="نام" name="contactName">
                            <p id="messageOfEditContact"></p>
                            <button id="editContactBtn" class="btn">ذخیره</button>
                          </div>
                        </div>
                        <!---------------------------------------- end Edit Contact Form -------------------------------------------->

                      </div>
                    </div>
                  </div>
                  <!-------------------------------------------end show chatroom header---------------------------------------------->

                  <!---------------------------------- start Show Message Section --------------------------------------------------->
                  <span id="myPhone" style="display: none;"><%-user.phone%></span>
                  <div id="showMessages"></div>
                  <!---------------------------------- end Show Message Section ----------------------------------------------------->

                  <div class="text-muted align-items-center inputMessageContainer">
                    <div style="margin-bottom:0px;">

                      <br />
                      <input style="display: none;" id="whichRoomWannaAddMsg" name="roomId">
                      <input type="text" class="form-control d-flex" id="sendMessageInput"
                        placeholder="پیام خود را وارد کنید">
                      <!-- <i style="margin-left: -20px;" class="fa-light fa-paper-plane"></i> -->
                      <!-- <button id="sendMessage">send</button> -->
                    </div>
                  </div>
                </div>
                <!-------------------------------------------End chats section------------------------------------------------------->
              </div>
            </div>
          </div>
        </div>
  </section>
  <div id="overlay"></div>
  <div style="display: none;" id="ErrorMessageBox"><i class="fa-solid fa-circle-exclamation"></i> مشکلی پیش آمده است لطفا بعدا تلاش کنید </div>
  <script type="module" src="/Js/chatrooms.js"></script>
  <script type="module" src="/Js/popupForms.js"></script>
</body>

</html>