@import url("../fonts/font.css");

body {
  font-family: IRANSansX !important;
  direction: rtl;
  /* background-color: #cdcdcd;
  margin: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea {
  font-family: IRANSansX !important;
}

h1 {
  font-weight: bold;
}